.footer-form {
    min-width: 250px;

    @include mq(not-desktop) {
        margin-bottom: 60px;
        min-width: 450px;
        align-items: center;
    }

    @include mq(desktop) {
            min-width: 570px;
            margin-left: 93px;
    }
}

.footer-form__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
    
    @include mq(not-desktop) {
        margin-top: 60px;
    }
}

.footer-form__email {
   
    margin-top: 20px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px 16px;
    background: #2f303a;
    color: var(--primary-white-color);

    @include mq(not-desktop) {
            display: block;
                margin-right: auto;
                margin-left: auto;
            width: 450px;
            margin-bottom: 20px;
    }
     @include mq(desktop) {
    margin-right: 12px;
    width: 358px;
 }
}

.footer-form__follow-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    text-align: left;
}

.footer-form__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
}

.footer-form__send-icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
}