.header {
    border-bottom: 1px solid #ececec;
    position: relative;
}

.mob-header{
    
}




.navbar__logo-webstudio {
    font-family: 'Raleway';
    font-weight: 700;
       font-size: 24px;
        line-height: 28px;

        

}

.navbar__logospan {
    color: var(--accent-color);
}

.menu-button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}



.icon-cross{
    display: none;
}

.menu-button.is-open .icon-cross{
    display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}


.menu-container {

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-white-color);
    
    &.is-open{
        display: block;
    }
}

.sitenav {
    @include mq(mobile-only) {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
    }
}

.sitenav__item {
    margin-top: 32px;

    &:first-child {
        margin-top: 0;
    }
}

.sitenav__link--opened {
    color: var(--accent-color);
}

.auth-nav {
    margin-top: auto;
}

.auth-nav__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: var(--accent-color);

    letter-spacing: 0.02em;
}

.auth-nav__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.auth-nav__item-mail {

    margin-top: 32px;

}

.social-networks {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: flex;
}

.social-networks {
    margin-top: 64px;
}

.social-networks__item {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    ;
    color: var(--accent-color);

    &:last-child {
        border: none;
        padding-right: 0;
    }

    &:first-child{
        padding-left: 0;
    }
}

.social-networks__link {
    color: var(--accent-color);
}