body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background: var(--primary-white-color);
    font-weight: 500;
    letter-spacing: 0.03em;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
